@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@import "tailwindcss";

body{
  background-color: black;
  margin: 0 auto;
  padding: 0;
  max-width: 1280px;
}

@theme {
  --font-cinzel: "Cinzel", sans-serif; 
}