@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@import "tailwindcss";

body{
  background-color: black;
}

@theme {
  --font-cinzel: "Cinzel", sans-serif; 
}